<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="bangkokguy.development.android.rainbowbattery">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!--uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rainbowbattery_128x128"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/filter_title_rainbowbattery">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http"
                      android:host="www.bangkokguy.tk"
                      android:pathPrefix="/rainbowbattery" />
                <!-- note that the leading "/" is required for pathPrefix-->
                <!-- Accepts URIs that begin with "example://bangkokguy” -->
                <data android:scheme="example"
                      android:host="bangkokguy" />
            </intent-filter>
        </activity>

        <service
            android:name=".Overlay"
            android:enabled="true"
            android:exported="true">
        </service>

        <receiver
            android:name=".BootCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>